*{margin: 0; padding: 0; list-style: none; font-family: 'Noto Sans CJK KR'; text-decoration: none; color: #333333;}
::-webkit-scrollbar { display:none;}
h2{font-size: 2em;}
#header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}
#header>div>img{
    opacity: .6;
}
.logo{
    float: left;
    width: 8%;
}
.up>a>img{
    position: fixed;
    bottom: 2%;
    right: 2%;
}
#gnb_nav{
    position: absolute;
    top: 0;
    left: 23.95%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 1%;
}
#gnb_nav a{
    color: #c4c4c4;
}
#gnb_nav>ul{
    width: 800px;
    float: right;
    padding-top: 2%;
}
#gnb_nav>ul>li{
    float: left;
    margin-left: 27%;
}
#gnb_nav a:hover{
    color: #fff;
}

.subNavBtn {
    display: inline;
    position: relative;
    color: #333333;
  }
.subNavBtn::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #ed1c24;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
.subNavBtn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.banner{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.banner span{
    position: absolute;
    top: 40%;
    left: 24%;
    font-size: 2em;
    color: #ffffff;
    text-align: left;
}
#text_third{
    color: #333333;
    position: absolute;
    left: 35%;
}
#content{
    width: 100%;
    margin: 0 auto;
}
/* #card_nav{
    position: relative;
    bottom: 160px;
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 0 auto;
}
#card_nav>ul>li{
    position: relative;
    width: 28.8%;
    margin-right: 6.8%;
    float: left;
    text-align: center;
    box-shadow: 0 3px 16px rgba(0,0,0,.5);
    border-radius: 10px;
    cursor: pointer;
}
#card_nav>ul>li:last-child{
    margin-right: 0;
}
#card_nav>ul>li>a{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: rgb(0, 0, 0);
}
#card_nav>ul>li>a>span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

#sec1{
    width: 100%;
    max-width: 1000px;
    height: 443px;
    background: #f8f8f8;
    box-shadow: 0 11px 18px rgba(0,0,0,.2);
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}
#sec1_box{
    padding: 55px 0 0 15px;
}
#sec1_box>p{
    font-size: 1em;
    line-height: 48px;
    padding-top: 40px;
}
#sec1_box>div>img{
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
}
#sec2{
    width: 100%;
    height: 1300px;
    margin-top: 80px;
    background: #fcfcf9;
    box-shadow: 0 8px 28px 1px rgba(0,0,0,.2);
}
.sec2_wrap{
    margin: 0 auto;
    max-width: 1000px;
}
.sec2_wrap>h2{
    padding-top: 50px;
}
.sec2_box{
    line-height: 32px;
    width: 1000px;
    height: 200px;
    margin-top: 100px;
}
.sec2_box>img{
    width: 30.6%;
}
.sec2_p{
    width: 65%;
    float: right;
}
.sec2_p2{
    width: 65%;
    float: left;
}
.sec2_p>h3{
    font-size: 1.6em;  
    margin-top: 10px;
}
.sec2_p2>h3{
    font-size: 1.6em;  
    margin-top: 10px;
}
.sec2_p>p{
    margin-top: 12px;
}
.sec2_p2>p{
    margin-top: 12px;
}
#sec2_1{
    margin-top: 50px;
}
#sec2_2>img{
    float: right;
}
#sec2_4>img{
    float: right;
}
.enter_bg{
    background: #6dcff6;
    border-radius: 10px;
    width: 84px;
    height: 32px;
    display: block;
    text-align: center;
    color: #ffffff;
    margin-top: 16px;
}
.enter_bg:hover{
    background: #ff6363;
}
#sec3{
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 600px;
    background: #fcfbf9;
    margin-top: 80px;
    box-shadow: 0 8px 28px 1px rgba(0,0,0,.2);
}
#sec3 h2{
    display: inline-block;
    padding: 70px 0 20px 28px;
}
#icon_letter{
    position: absolute;
    top: 80px;
    left:168px ;
}
#sec3 h3{
    padding: 50px 0 0 28px;
    color: #a7a7a7;
    font-weight: normal;
}
#sec3 p{
    padding: 70px 0 0 28px;
    font-size: 1.4rem;
    line-height: 48px;
}
#letter{
    position: absolute;
    top:-20px;
    left: 168px;
    z-index: -99;
    width: 90%;
    transform: rotate(-20deg);
}
#email:hover{
    color: #00C73C;
}
#phone:hover{
    color: #0D4EA2;
}
#kakao:hover{
    color: #FFCD00;
}
#footer{
    width: 100%;
    height: 200px;
    text-align: center;
    background: #f4f4f4;
    margin-top: 150px;
    line-height: 200px;
}