*{margin: 0; padding: 0; list-style: none; text-decoration: none;}
#wrap{
    width: 100%;
    height: 100%;
}
/* header */
header{
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
#header_wrap{
    position: relative;
    max-width: 65.625%;
    height: 100px;
    margin: 0 auto;
}
#logo{
    width: 23.5%;
    height: 100px;
    float: left;
}
#logo img{
    padding-top: 35px;
    width: 106px;
}
#nav{
    top: 48%;
    left: 19%;
    position: absolute;
}
#info{
    position: absolute;
    top: 15%;
    right: 0;
}
#nav li {
    float: left;
    margin-right: 95px;
}
#info li{
    float: left;
    margin-left: 10px;
}
#info li a:hover{
    color: #0087ca;
}
#nav a{
    color: #000000;
    font-family: 'Palatino Linotype';
    font-size: 1.25em;
    
}
#nav a:hover{
    color: #5fd6c9;
}

#info a{
    font-size: 0.75em;
    font-family: '08SeoulNamsan';
    /* letter-spacing: -1px; */
    color:#828282;
}
.hover-underline-animation {
    display: inline;
    position: relative;
    color: #8ad9d1;
  }
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #71cac1;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
.hover-underline-animation:hover::after {
    
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #nav> ul > li > a {
    transition: opacity 0.2s;
  }
  #nav:hover a:not(:hover) {
    opacity: 0.5;
  }
/* footer */
footer{
    clear: both;
    width: 100%;
    height: 281px;
    background: #333333;
    margin: 0 auto;
    text-align: center;
    font-family:'YoonGothic Medium';
}
footer > p{
    padding-top: 43px;
    color: #fff;
    font-size: 0.8em;
}
footer span {
    display: block;
    margin: 20px 0 20px 0;
    color: #8d8d8d;
    line-height: 24px;
}


/* section */
#section{
    width: 100%;
    height: 1325px;
    
    margin: 0 auto;
}
#section1{
    position: relative;
    width: 100%;
    height: 290px;
    background-color: #eef6f6;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #def1ef;
    box-sizing: border-box;
    overflow: hidden;
}
#section1 > span{
    font-family: 'NanumMyeongjo';
    font-size: 1.5em;
    font-weight: bold;
    color: #356f69;
    display: block;
    padding: 40px 0 25px 0;
}
#section1 > ul > li{
    width: 100%;
    max-width: 66.22%;
    height: 197px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#section1 > ul > li > div{
    width: 11.5%
}
#section1 > ul > li > div > a > span{
    font-size: 1em;
    font-family: "NanumMyeongjo";
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding-top: 12px;
    color: #555555;
}
#section1 > ul > li > div > a{
    text-align: center;
}
#section1 > ul > li > div > a > img{
    display: block;
    margin: 0 auto;
}
/* #section1{
    width: 100%;
    height: 354px;
    float: left;
}
#section1 > ul > li > div {
    float: left;
    width: calc(100%/6);
}
#section1 > ul > li > div > a > img{
    float: left;
}
#section1 > ul > li > div > a > span{
    float: left;
} */
#section2{
    width: 100%;
    height: 470px;
    margin: 0 auto;
}

#sec2_contents1{
    width: 50%;
    height: 470px;
    float: left;
    background: url(../img/location_banner.png)no-repeat;
    background-size: cover;
}
#sec2_contents1 > img:last-child{
    margin-bottom: 145px;
    padding-left:35%;
}
#sec2_contents1 > img:first-child{
    margin-top: 90px;
    padding-left:35%;
}
#sec2_contents1 > p{
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Batang';
    font-size: 2.5em;
    color: #bc8b2b;
    padding-left:35%;
}
#sec2_contents1 > span >a{
    display: block;
    font-family: "NanumMyeongjo";
    font-weight: bold;
    font-size: 1.3em;
    color: #67171b; 
    padding-left:35%;  
}
#sec2_contents2{
    width: 50%;
    height: 470px;
    float: right;
    background: url(../img/location_banner2.png)no-repeat;
    background-size: cover;
}
#sec2_contents2 > img {
    float: right;
    margin-top: 90px;
}
#section3{
    width: 100%;
    height: 565px;
    margin: 0 auto;
    position: relative;
}
#section3 > div{
    width: 100%;
    height: 565px;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
}
#section3 div img{
    width: 100%;
}
.sec3{
    position: absolute;
    top: 0;
    left: 20%;
    right: 20%;
    
}
.sec3 > p{
    color: #fff;
    text-align: center;
    font-family:'NanumMyeongjo';
    font-size: 1em;
}
.sec3 > p:first-child{
    margin-top: 4.5%;
    font-size: 1.2em;
}
.sec3 > p:nth-child(2){
    font-size: 1.2em;
    margin-top: 1.5%;
}
.sec3 > p:nth-child(3){
    margin-top: 2%;
    font-size: 0.8em;
    line-height: 2em;
}
.circle{
    width: 550px;
    height: 200px;
    margin: 0 auto;
}
.circle > div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f5f2d1;
    opacity: 0.8;
    float: left;
    margin-top: 10%;
    text-align: center;
    margin-right: 50px;
    font-size: 1.3em;
}
.circle > div:last-child{
    margin-right: 0;
}
.circle > div > span{
    display: block;
    font-family: '08SeoulNamsan';
    line-height: 2em;
    margin-top: 1.8em;
    
}
.circle > div > span > strong:nth-child(1){
   
    color: #902d2d;
}